{% extends "base.html" %}

{% block content %}
  <h3><a href="{% url "hub:card-create" %}">Create a new card</a></h3>
    <h3><a href="{% url "hub:reset-cards" %}">Reset all</a></h3>
  <form action="" method="get">
    {{ search_form }}
    {{ filter.form.as_p }}

    <input type="submit">
  </form>

  <ol>
    {% for card in filter.qs %}

      <li><a href="{% url "hub:card-detail" card.id %}">{{ card.question }}</a> Status: {{ card.status }}</li>
    {% empty %}
      <p>No cards yet. Select a collection to get starter cards.</p>
    {% endfor %}
  </ol>



{% endblock %}